<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.framework" >


    <application>

        <!-- 融云推送通知 -->
        <receiver
            android:name="com.example.framework.cloud.rongcloud.receiver.SealNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
