<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meet">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!--获取sd卡写的权限， 用于文件上传和下载-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--获取sd卡读的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--允许读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--允许窗口权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 照相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 读取通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeFull">

        <!-- OPPO适配刘海屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!-- 小米适配水滴屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <!-- index -->
        <activity
            android:name=".activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- guide -->
        <activity android:name=".activity.GuideActivity"></activity>

        <!-- login -->
        <activity android:name=".activity.LoginActivity" />

        <!-- login by account-->
        <activity android:name=".activity.LoginByAccountActivity" />

        <!-- main -->
        <activity android:name=".activity.MainActivity"></activity>

        <!-- upload token -->
        <activity android:name=".activity.UpdateTokenActivity"></activity>

        <!-- adding friend -->
        <activity android:name=".activity.AddingFriendActivity"></activity>

        <!-- adding contacts -->
        <activity android:name=".activity.AddingContactsActivity"></activity>

        <!-- setting personal info -->
        <activity android:name=".activity.MeInfoActivity"></activity>

        <!-- new friend info -->
        <activity android:name=".activity.NewFriendActivity"></activity>

        <!-- friend info -->
        <activity android:name=".activity.UserInfoActivity"></activity>

        <!-- chat -->
        <activity android:name=".activity.ChatActivity"></activity>

        <!-- push -->
        <activity android:name=".activity.PushActivity"></activity>

        <!-- qr code -->
        <activity android:name=".activity.QrCodeActivity"></activity>

        <!-- shared qr code -->
        <activity android:name=".activity.SharePersonalQrCodeActivity"></activity>

        <!-- cloud service -->
        <service android:name=".service.CloudService"/>

        <!--FileProvide-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.framework.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>